/* user info */
#userInfo > * {
  display: block;
}

#messageFeed .newChirpButton {}

#messageFeed .messageContainer .feedMessage {
  padding-top: 10px;
  padding-bottom: 5px;
}

#messageFeed .messageContainer .feedMessage .messageName {
  font-weight: bold;
}
